
<% if ((myfacebook.currentUser.isSignedIn() === true) &&
  ( myfacebook.currentUser.id === this.model.id )) { %>



  <div class="content-signup-edit group">

  <b>Edit Profile Information<br></b>


  <form class="form_sign_up" action="/users" method="post">

      <input class= "sign_up_input_first" name="user[name_first]"
        type="text" value="<%=myfacebook.currentUser.escape('name_first')%>"/>

      <input class= "sign_up_input_last" name="user[name_last]"
        type="text" value="<%=myfacebook.currentUser.escape('name_last')%>"/><br>


      <input class= "sign_up_input" name="user[email]"
        type="text" value="<%=myfacebook.currentUser.escape('email')%>"/><br>

      <!-- <input class= "sign_up_input" name="user[password]"
        type="password" placeholder="New Password"/><br>
      </label><br> -->

      <label for="user_birthday">Birthday</label><br>
      <select name="user[birth_month]" id="birth_month">

        <option selected="<%=myfacebook.currentUser.escape('birth_month')%>">
          <%=myfacebook.currentUser.escape('birth_month')%></option>
        <option value="Jan">January</option>
        <option value="Feb">February</option>
        <option value="Mar">March</option>
        <option value="Apr">April</option>
        <option value="May">May</option>
        <option value="Jun">June</option>
        <option value="Jul">July</option>
        <option value="Aug">August</option>
        <option value="Sep">September</option>
        <option value="Oct">October</option>
        <option value="Nov">November</option>
        <option value="Dec">December</option>
      </select>


      <select name="user[birth_day]" id="birth_day">
        <option selected="<%=myfacebook.currentUser.escape('birth_day')%>">
          <%=myfacebook.currentUser.escape('birth_day')%></option>
        <% for (var i=1; i < 32; i++) { %>
          <option value="<%= i %>"><%=i%></option>

        <% } %>
      </select>

      <select name="user[birth_year]" id="birth_year">
        <option selected="<%=myfacebook.currentUser.escape('birth_year')%>">
          <%=myfacebook.currentUser.escape('birth_year')%></option>
        <% for (var i=2002; i >= 1905; i--) {%>
          <option value="<%= i %>"><%=i%></option>

        <% } %>
      </select>

      <br>
      <br>




      <input type="radio" name="user[gender]" id="female" value="f">
      <label for="user_sex_female">Female</label>

      <input type="radio" name="user[gender]" id="male" value="m">
      <label for="user_sex_male">Male</label>
      <br>
      <br>

      <input type="submit" value="Submit Edits" class="button_edit_up"><br>

  </form>




  </div>

  <% if ((this.model.id === myfacebook.currentUser.id) && (myfacebook.currentUser.id != 4 )
    && (myfacebook.currentUser.id != 3 )){  %>

  <div class="deletion">


    <div class='delete_unhide'>
      <button name="button">Delete User</button>
    </div>

    <div id="delete_modal" class="hidden">
      Are you sure you want to delete your account?
      <div class='delete_user'>
        <button id='deleteUser' data="">Delete</button>
      </div>

      <div class='cancel'>
        <a href="#/users/<%= myfacebook.currentUser.id %>">
          <button data="">Cancel</button>
        </a>
      </div>
    </div>

  </div>
  <% }  %>


<% } %>
