<div class="profile-main-left">
  <div class="user-public-info group">
    <img class="profile_pic" src="<%=user.get('image_url')%>"></img>
    <p class="profile_name">
      <%= user.escape('name_first')%> <%=user.escape('name_last')%>

    </p>
  </div>

  <div class="user-show group">
    <br>Birth Date:
      <%= user.escape('birth_month') %>
      <%= user.escape('birth_day') %>
      <%= user.escape('birth_year') %>
    <br>Gender:
      <%= user.escape('gender') %>
    <br>

  </div>

  <div class="remove_friend">
    <button>Remove Friend</button>
  </div>

  <div class="profile-friends">
    <p class="profile-friends-label">Friends</p>
  </div>


</div>

<div class="profile-main-center">
  <div class="index-posts">

  </div>
</div>
