<div class="profile-main-left">
  <div class="user-public-info group">
    <img class="profile_pic" src="<%=user.escape('image_url')%>"></img>
    <p class="profile_name">

      <%- user.escape('name_first')%> <%-user.escape('name_last')%>

    </p>


    <% if (user.escape('image_url') === 'default_profile.jpg') { %>

    <form id="avatar">
      <input type="file" class="hidden" name="user[image]" id="input-user-avatar">
      <label id="button-avatar-select" for="input-user-avatar">Update Profile Picture</label>
      <img id="preview-post-image">
      <button id="button-save" class="hidden">Save</button>
      <a id="button-cancel" href="#" class="hidden">Cancel</a>
    </form>

    <% } %>

  </div>




  <div class="user-show group">
    <br>Birth Date:
      <%= user.escape('birth_month') %>
      <%= user.escape('birth_day') %>
      <%= user.escape('birth_year') %>
    <br>Gender:
      <%= user.escape('gender') %>
    <br>
    <div class="edit_profile">
      <button id="edit_button">Edit Profile</button>
    </div>

  </div>


  <div class="profile-friends">
    <p class="profile-friends-label">Friends</p>
  </div>

</div>


<div class="profile-main-center">

  <form class="post-form">
    <ul class="errors">
    </ul>
      <textarea name="body" class="post-area" placeholder="What's on your mind?"></textarea>

    <input type="submit" class="post-submit" value="Post">
  </form>


  <div class="index-posts">

  </div>

</div>
