<div class='user-show group'>

<% debugger %>
  <% if (user.id !== myfacebook.currentUser.id) { %>
    <p class="profile_name">
  <img class = "profile_pic_main" src="<%= user.get("image_url") %>" width="100px">
  <%= user.escape('name_first') %> <%= user.escape('name_last') %></p>

  <% } %>

  <br>Birth Date: <%= user.escape('birth_month') %>
    <%= user.escape('birth_day') %>
    <%= user.escape('birth_year') %><br>Gender: <%= user.escape('gender') %> <br>

    <% if (user.id === myfacebook.currentUser.id) { %>
      <div class='edit_profile'><button>Edit Profile</button></div>
    <% } %>




</div>



<% if (user.id === myfacebook.currentUser.id) { %>

<form class="post-form" >
  <ul class="errors">
  </ul>
    <textarea name="body" class="post-area" placeholder="What's on your mind?"></textarea>

  <input type="submit" class="post-submit" value="Post">
</form>



<% } %>

<div class="posts">
</div>
