<div class='user-show'>
  <div class='user-info'>

  <% if (user.id !== myfacebook.currentUser.id) { %>
    <p class="profile_name">
  <%= user.escape('name_first') %> <%= user.escape('name_last') %></p>
  <img class = "profile_pic_main" src="<%= user.get("image_url") %>" width="100px">

  <% } %>

  <br>Birth Date: <%= user.escape('birth_month') %>
    <%= user.escape('birth_day') %>
    <%= user.escape('birth_year') %><br>Gender: <%= user.escape('gender') %> <br>


  </div>


</div>


<% if (user.id === myfacebook.currentUser.id) { %>
  <div class='edit_profile'><button>Edit Profile</button></div>
<% } %>
