<div class='user-show'>
  <div class='user-info group'>

  <% if (user.id !== myfacebook.currentUser.id) { %>
    <p class="profile_name">
  <img class = "profile_pic_main" src="<%= user.get("image_url") %>" width="100px">
  <%= user.escape('name_first') %> <%= user.escape('name_last') %></p>

  <% } %>

  <br>Birth Date: <%= user.escape('birth_month') %>
    <%= user.escape('birth_day') %>
    <%= user.escape('birth_year') %><br>Gender: <%= user.escape('gender') %> <br>


  </div>
</div>


<form class="comment-form">
  <ul class="errors">
  </ul>
    <textarea name="body"></textarea>

  <input type="submit">
</form>

<!--
<form class="comment-form group">
  <ul class="errors">
  </ul>
  <textarea></textarea>

  <input type="submit">
</form> -->




<% if (user.id === myfacebook.currentUser.id) { %>
  <div class='edit_profile'><button>Edit Profile</button></div>
<% } %>


<form class="avatar">
    <input type="file" class="hidden" name="user[image]" id="input-user-avatar"/> <br>
      <label class="button-avatar-select" for="input-user-avatar">New Avatar</label>
      <img src="" id="preview-post-image" width="50"> <br>
    <button>Save</button> or <a href="#">Cancel</a>
  </form><br>
