<div class='user-show'>

<% if (myfacebook.current_user.get('id') !== this.model.get('id')) { %>
  Not yet friends!
<% } else { %>
  This is you!

  myfacebook.current_user.requested_friendships
<% } %>

<br>

  <%= user.escape('name_first') %> <%= user.escape('name_last') %>
    <br>
      <img src="<%= user.get("image_url") %>" width="100px">
    <br>



<% if (user.get('image_url') === 'default_profile.jpg') { %>

  <form class="avatar">
    <label>
      Image
      <input type="file" name="user[image]" id="input-user-avatar">
    </label>

    <button>Save</button> or <a href="#">Cancel</a>
  </form><br>

<% } %>





  Birth Date:
    <%= user.escape('birth_month') %>
    <%= user.escape('birth_day') %>
    <%= user.escape('birth_year') %>
    <br>
  Gender:
    <%= user.escape('gender') %>
    <br>



</div>

<div class='lists-window'>
  <div id="lists">
  </div>

  <div id="list-form">
  </div>
</div>
