<div class='user-show'>



<% if (myfacebook.currentUser.get('id') !== this.model.get('id')) { %>


  <div class="request_friend">
    <button>Add Friend</button>
  </div>

  <div class="approve_friend">
    <button>Approve Friend</button>
  </div>

<% } else { %>

  This is you!
  <% if (user.get('image_url') === 'default_profile.jpg') { %>
    <form class="avatar">
      <input type="file" name="user[image]" id="input-user-avatar"> <br>
        <img src="" id="preview-post-image" width="50"> <br>
      <button>Save</button> or <a href="#">Cancel</a>
    </form><br>
  <% } %>

<% } %><br>

<!-- myfacebook.currentUser.requested_friendships -->

<%= user.escape('name_first') %> <%= user.escape('name_last') %>
  <br>
    <img src="<%= user.get("image_url") %>" width="100px">
  <br>

  Birth Date:
    <%= user.escape('birth_month') %>
    <%= user.escape('birth_day') %>
    <%= user.escape('birth_year') %>
    <br>
  Gender:
    <%= user.escape('gender') %>
    <br>



</div>

<div class='lists-window'>
  <div id="lists">
  </div>

  <div id="list-form">
  </div>
</div>
