<div class='user-show'>


  <% if (myfacebook.currentUser.get('id') !== this.model.get('id')) { %>



    <% if ((this.model.friends().findWhere({
      user_id: this.model.get('id'),
      friend_id: myfacebook.currentUser.get('id')
       }) === undefined)
        &&
       (this.model.friends().findWhere({
         user_id: myfacebook.currentUser.get('id'),
         friend_id: this.model.get('id')
       }) === undefined)
       &&
       (myfacebook.currentUser.friends().findWhere({
         user_id: this.model.get('id'),
         friend_id: myfacebook.currentUser.get('id')
       }) === undefined)
       &&
       (myfacebook.currentUser.friends().findWhere({
         user_id: myfacebook.currentUser.get('id'),
         friend_id: this.model.get('id')
       }) === undefined)
      )

       { %>

        <div class="request_friend">
          <button>Add Friend</button>
        </div>

      <% } else { %>



        <% if (this.model.friends().length !== 0 &&

              this.model.friends().findWhere({
              user_id: this.model.get('id'),
              friend_id: myfacebook.currentUser.get('id')})
              .get('approved') === false) { %>

              <div class="approve_friend">
                <button>Approve Friend</button>
              </div>

              <div class="deny_friend">
                <button>Deny Friend</button>
              </div>


        <% } else { %>
           Friends!<br>

            <div class="remove_friend">
              <button>Remove Friend</button>
            </div>
        <% } %>
    <% } %>

  <% } else { %>

<% debugger %>

  This is you!
  <% if (user.get('image_url') === 'default_profile.jpg') { %>
    <form class="avatar">
      <input type="file" class="hidden" name="user[image]" id="input-user-avatar"/> <br>
        <label class="button-avatar-select" for="input-user-avatar">New Avatar</label>
        <img src="" id="preview-post-image" width="50"> <br>
      <button>Save</button> or <a href="#">Cancel</a>
    </form><br>
  <% } %>

<% } %><br>

<%= user.escape('name_first') %> <%= user.escape('name_last') %>
  <br>
    <img src="<%= user.get("image_url") %>" width="100px">
  <br>

  Birth Date:
    <%= user.escape('birth_month') %>
    <%= user.escape('birth_day') %>
    <%= user.escape('birth_year') %>
    <br>
  Gender:
    <%= user.escape('gender') %>
    <br>



</div>

<div class='lists-window'>
  <div id="lists">
  </div>

  <div id="list-form">
  </div>
</div>
