
<div class='index'>
  <h3>Friend Newsfeed</h3>
    <form class="index-post-form group">
      <h3>Update Status</h3>

      <ul class="errors">
      </ul>

      <div class="author-post">
        <img id="currentUser-preview" src="<%= myfacebook.currentUser.get("image_url") %>">
        <textarea name="body" class="index-post-area" placeholder="What's on your mind?"></textarea>
      </div>

      <div class="submit-row">
        <input type="submit" class="index-post-submit" value="Post">
      </div>
    </form>

    <div class="index-banner-right">
      <p>A word from our sponsors..</p>

      <div class="homepage">
        <a href="http://www.parkjake.com">Jake Park</a>
      </div>

      <div class="asteroids">
        <a href="http://www.parkjake.com/asteroids">
          <img class="asteroids-gif" src="asteroids.gif" alt="Asteroids!"/>
        </a>
      </div>

    </div>

<% if (posts.length === 0) { %>
  <div class="lonely">
    <p class="noposts">No posts to show</p>

    <a href="#/users" id="find_friends">
        Find Friends
    </a>
  </div>
<% } %>

<div class="index-posts">

</div>

<!-- <ul class='index-posts group'>
  <% posts.each(function (post) { %>

    <div class="index-post">
      <div class="index-author group">
        <a href='#/users/<%= post.escape('author_id') %>'>

  <% if (users.length != 0) { %>

        <% var author = users.where({id: parseInt(post.escape('author_id'))}) %>

        <img class="index-author-preview" src="<%-author[0].attributes['image_url']%>"></img></a>

        <a class="index-author-preview-name" href='#/users/<%- post.escape('author_id') %>'>

          <%- author[0].attributes['name_first'] %>
          <%- author[0].attributes['name_last'] %>

        </a>

        <p>
          <% var date = new Date(post.escape('posts_created_at')) %>
          <%= date.toLocaleDateString() %>
          at
          <%= date.toLocaleTimeString() %>
        </p>


  <% } %>

      </div>


      <li><%- post.get('body') %></li>

    </div>

  <% }); %>
</ul> -->



</div>
