<div class="index-post group">
  <div class="index-author group">
    <a href='#/users/<%= post.escape('user_id') %>'>

    <% var author = users.where({id: parseInt(post.escape('user_id'))}) %>

    <img class="index-author-preview" src="<%-author[0].attributes['image_url']%>"></img></a>

    <a class="index-author-preview-name" href='#/users/<%= post.escape('user_id') %>'>

      <%- author[0].attributes['name_first'] %>
      <%- author[0].attributes['name_last'] %>

    </a>

    <p>
      <% var date = new Date(post.escape('created_at')) %>
      <%= date.toLocaleDateString() %>
      at
      <%= date.toLocaleTimeString() %>
    </p>
  </div> 

  <%- post.get('body') %>

  <!-- <div class="post-comments">
  </div> -->


  <% if (parseInt(post.get('user_id')) === myfacebook.currentUser.id) { %>
    <div class="delete_post" >
      <button class="delete_post_button" data="<%= post.id %>">X</button>
    </div>
  <% } %>



</div>
