<div class="header" role="navigation">
  <div class="header-nav">
    <a class="header-logo" href="#">myfacebook</a>

    <ul class="header-nav-right">

    <% if signed_in? %>

    <li class= "header-nav-right-li">
      <a href="#users/<%= + current_user.id%>">
        <img src="<%= current_user.avatar %>"/>
        <span class="avatar_icon">
          <%= current_user.name_first %>
        </span>
      </a>
    </li>

    <li class= "header-nav-right-li">
      <%= button_to "Home", root_url, method: :get, class: "button_home" %>
    </li>
    <li class= "header-nav-right-li">
      <%= button_to "Sign Out", session_url, method: :delete, class: "button_sign_out" %>
    </li>
    <% else %>



      <li><%= render partial: "sessions/login" %></li>

    <% end %>
    </ul>
  </div>
</div>




<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
